SERVICE_NAME=AsyncFileSummarizer
NODE_ENV=local
PORT=3000
POSTGRES_DB=summarizer-db
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
REDIS_HOST=localhost
REDIS_PORT=6379

UPLOAD_FILE_SIZE_LIMIT=5242880  # 5MB

STORAGE_URL= # Replace with your bucket url
GS_BUCKET_NAME= # Replace with your bucket name
GS_LOCATION= # Replace with your bucket location
GS_PROJECT_ID= # Replace with your project id